<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/02/16 11:12:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcase_1.testcase2()[pri:0, instance:bl.framework.testcases.Testcase_1@42e26948]">testcase2</td> 
  <td>main@1401132667</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/16 11:12:46</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcase_1.testcase1()[pri:0, instance:bl.framework.testcases.Testcase_1@42e26948]">testcase1</td> 
  <td>main@1401132667</td>   <td></td> </tr>
</table>
